.NavBar {
   background-color: rgb(255, 190, 104); 
  height: 100px;
  width: 100%;
  /* position: fixed; */
  z-index: 999;
  opacity: 0.9;
  /* align-items: center; */
}

li {
  list-style: none; 
  margin: 0;
  padding: 0; 
  color: rgb(255, 255, 255) !important;
} 

