.centerbar {
  background-color: rgb(255, 190, 104);
  border-radius: 5px;
  border-color: rgb(255, 190, 104);
  color: white;
}

.centersearch {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  padding-top: 45px;
  padding-bottom: 45px;
}

.inputstyle {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: rgb(255, 190, 104);
  opacity: 0.9;
}
.result {
  display: flex;
  justify-content: center;
}

.taco-alert {
  border: 3px solid rgb(255, 190, 104);
  text-align: center;
  width: fit-content;
  color:black
  
}
